<div class="flex justify-center items-center h-[calc(100vh-72px)]">
    <div class="p-4 text-center">
      <h2 class="text-2xl font-bold mb-4">Instructions for MCQ Online Exam</h2>
      <p class="mb-2">1. The exam will end when the timer runs out.</p>
      <p class="mb-2">2. There are 10 questions.</p>
      <p class="mb-2">3. Each correct answer carries 1 mark.</p>
      <p class="mb-2">4. 1/4 mark will be deducted for each wrong answer.</p>
      <p class="mb-2">5. Once the exam is started, it must be completed.</p>
      <div class="mt-4">
        <button (click)="startExam()"class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Start Exam</button>
      </div>
    </div>
  </div>