<div class="flex  h-[calc(100vh-60px)] ">
    
    <div class="w-1/5 bg-gray-100 text-black-900 "> <!-- Adjusted width to 1/5 and added fixed and h-screen class -->
      <ul class="mt-5">
        <li class="hover:bg-gray-200">
          <a class="block px-4 py-2" [routerLink]="['/admin/create']">Create Exams</a>
        </li>
        <li class="hover:bg-gray-200">
            <a class="block px-4 py-2" [routerLink]="['/user/all']">Modify Exam</a>
        </li>
        <li class="hover:bg-gray-200">
            <a class="block px-4 py-2" [routerLink]="['/user/all']">Exam Results</a>
        </li>
      </ul>
    </div>
    <div class="w-4/5 bg-white">
      <router-outlet></router-outlet>
    </div>
</div>