<app-navbar></app-navbar>
<!-- password-form.component.html -->
<div class="max-w-md mx-auto mt-5">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
      Enter password
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="password"
      type="password"
      placeholder="********"
      [(ngModel)]="password"
    />
  
    <button
      class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      (click)="validatePassword()"
    >
      Validate Password
    </button>
  </div>
  