<div class="p-6 max-w-md mx-auto bg-white rounded-xl shadow-md">
  <div class="text-center my-8 text-2xl font-bold">Upload exam details-</div>
  <form class="w-full max-w-lg">
    <div class="mb-4 grid grid-cols-2 gap-4">
      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="examName">Exam Name</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
          id="examName" name="examName" type="text" placeholder="Exam Name" [(ngModel)]="exam.examName"
        >
      </div>
      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="startDate">Exam Start Date</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
          id="startDate" name="startDate" type="date" [(ngModel)]="exam.startDate"
        >
      </div>
      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="endDate">Exam End Date</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
          id="endDate" name="endDate" type="date" [(ngModel)]="exam.endDate"
        >
      </div>
      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="duration">Duration</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
          id="duration" name="duration" type="text" placeholder="Duration" [(ngModel)]="exam.duration"
        >
      </div>
      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="marksPerQuestion">Marks per Question</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
          id="marksPerQuestion" name="marksPerQuestion" type="number" placeholder="Marks per Question" value="10" [(ngModel)]="exam.marksPerQuestion"
        >
      </div>
      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="jsonFile">JSON for Exam-</label>
        <input
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
          id="jsonFile" name="jsonFile" type="file" [(ngModel)]="exam.jsonFile"
          (change)="onFileSelected($event)"
        >
      </div>
    </div>
    <div class="flex items-center justify-center mt-6">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button"
        (click)="addExam()"
      >
        Create Exam
      </button>
    </div>
  </form>
</div>
