<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div>
        <span class="text-xl font-medium text-white">UPPCL Evaluation Portal - Live Exam</span>
      </div>
      <div>
        <button class="bg-black-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
          {{examData?.duration}}
        </button>
      </div>
    </div>
  </nav>
  <ng-container *ngIf="examData; else errorTemplate">
    <router-outlet></router-outlet>
  </ng-container>
  
  <ng-template #errorTemplate>
    <div class="flex justify-center items-center h-[calc(100vh-72px)]">
      <div class="bg-red-200 text-red-700  text-2xl rounded-lg p-6">
        Technical error occurred. Please <button routerLink="/user/available" class="mt-4 bg-red-500 text-white px-4 py-2 rounded">try again</button>
      </div>
    </div>
  </ng-template>